.header {
    font-size: 14px;
}
input {
    background-color: #F6F7F9;
    border: 0;
}
.check {
    text-align: center;
}
.check svg {
    width: 130px;
}
.back-link {
    color: grey;
    text-decoration: underline;
}