<div class="row header">
    <div class="col">
        <h1 *ngIf="!formSubmitted">S'inscrire</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form *ngIf="!formSubmitted" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <small class="form-text text-muted">Nous vous contacterons dans les plus brefs délais.</small>

            <div class="form-group mt-5">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Adresse mail">
              <small *ngIf="emailError" class="ml-2" style="color: darkred;">Cette adresse mail existe déjà</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputNom1" formControlName="nom" placeholder="Nom">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputPrenom1" formControlName="prenom" placeholder="Prénom">
              </div>
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-dark btn-lg btn-block mt-5">Valider</button>
        </form>

        <div *ngIf="formSubmitted" class="check mt-5">
          <svg fill="#5AA469" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"/></svg>
          <h1 class="mt-5">Merci !</h1>
          <a (click)="resetFrom()" class="back-link">Retour</a>
        </div>
    </div>
</div>