<div class="row header">
    <div class="col">
        <h1>Gestion des clients</h1>
    </div>
    <div class="col text-right">
        <p class="d-inline mr-3">Louis G.</p>
        <img src="https://pbs.twimg.com/profile_images/1498753595059195904/tQ6AOdgg_400x400.jpg" width="40" class="d-inline">
    </div>
</div>

<div class="row">
    <div class="col shadow-sm statut-carte">
        <p class="statut ouvert shadow-sm">Ouvert</p>

        <div class="clients-bloc">
            <div *ngFor="let client of clientsOUVERT" class="client-carte shadow-sm">
                <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="email">{{ client.Mail }}</p>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark identification w-100" (click)="putStatus(client.Id, 'IDENTIFICATION')">
                            Suiv. <fa-icon [icon]="faRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow-sm statut-carte">
        <p class="statut identification shadow-sm">Identification</p>

        <div class="clients-bloc">
            <div *ngFor="let client of clientsIDENTIFICATION" class="client-carte shadow-sm">
                <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="society">{{ client.Company }}</p>
                <p class="email">{{ client.Mail }}</p>

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark ouvert w-100" (click)="putStatus(client.Id, 'OUVERT')">
                            <fa-icon [icon]="faLeft"></fa-icon> Prec.
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark proposition w-100" (click)="putStatus(client.Id, 'PROPOSITION')">
                            Suiv. <fa-icon [icon]="faRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow-sm statut-carte">
        <p class="statut proposition shadow-sm">Proposition</p>

        <div class="clients-bloc">
            <div *ngFor="let client of clientsPROPOSITION" class="client-carte shadow-sm">
                <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="society">{{ client.Company }}</p>
                <p class="email">{{ client.Mail }}</p>
                <div class="prices-bloc">
                    <p class="price-propal">9500€</p><br>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark identification w-100" (click)="putStatus(client.Id, 'IDENTIFICATION')">
                            <fa-icon [icon]="faLeft"></fa-icon> Prec.
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark negociation w-100" (click)="putStatus(client.Id, 'NEGOCIATION')">
                            Suiv. <fa-icon [icon]="faRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow-sm statut-carte">
        <p class="statut negociation shadow-sm">Négociation</p>
        <div class="clients-bloc">
            <div *ngFor="let client of clientsNEGOCIATION" class="client-carte shadow-sm">
                <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="society">{{ client.Company }}</p>
                <p class="email">{{ client.Mail }}</p>
                <div class="prices-bloc">
                    <p class="price-propal">6000€</p><br>
                    <p class="calcul">-1500€</p><br>
                    <p class="price-negociation">4500€</p>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark proposition w-100" (click)="putStatus(client.Id, 'PROPOSITION')">
                            <fa-icon [icon]="faLeft"></fa-icon> Prec.
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark ferme-positif w-100" (click)="putStatus(client.Id, 'FERME_POSITIF')">
                            Suiv. <fa-icon [icon]="faRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow-sm statut-carte">
        <p class="statut ferme-positif shadow-sm">Fermé positif</p>

        <div *ngFor="let client of clientsFERME_POSITIF" class="client-carte shadow-sm">
            <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="society">{{ client.Company }}</p>
                <p class="email">{{ client.Mail }}</p>
            <div class="prices-bloc">
                <p class="price-propal">6300€</p><br>
                <p class="calcul">-50€</p><br>
                <p class="price-negociation">6250€</p>
            </div>

            <div class="row">
                <div class="col-6">
                    <button class="btn btn-sm btn-dark negociation w-100" (click)="putStatus(client.Id, 'NEGOCIATION')">
                        <fa-icon [icon]="faLeft"></fa-icon> Prec.
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-sm btn-dark ferme-negatif w-100" (click)="putStatus(client.Id, 'FERME_NEGATIF')">
                        Suiv. <fa-icon [icon]="faRight"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow-sm statut-carte">
        <p class="statut ferme-negatif shadow-sm">Fermé négatif</p>

        <div class="clients-bloc">
            <div *ngFor="let client of clientsFERME_NEGATIF" class="client-carte shadow-sm">
                <p class="name">{{ client.Name }} {{ client.Lastname }}</p>
                <p class="society">{{ client.Company }}</p>
                <p class="email">{{ client.Mail }}</p>
                <div class="prices-bloc">
                    <p class="price-propal">6300€</p><br>
                    <p class="calcul">-50€</p><br>
                    <p class="price-negociation">6250€</p>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm btn-dark ferme-positif w-100" (click)="putStatus(client.Id, 'FERME_POSITIF')">
                            <fa-icon [icon]="faLeft"></fa-icon> Prec.
                        </button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clientsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifier le statut</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Quel sera le nouveau statut pour <strong>Oui</strong> ?</p>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="radioIDENTIFICATION" name="radio">
                <label class="custom-control-label" for="radioIDENTIFICATION">Identification</label>
            </div>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="radioPROPOSITION" name="radio">
                <label class="custom-control-label" for="radioPROPOSITION">Proposition</label>
            </div>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="radioNEGOCIATION" name="radio">
                <label class="custom-control-label" for="radioNEGOCIATION">Négociation</label>
            </div>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="radioFERME_POSITIF" name="radio">
                <label class="custom-control-label" for="radioFERME_POSITIF">Fermé positif</label>
            </div>
            <div class="custom-control custom-radio mb-3">
                <input type="radio" class="custom-control-input" id="radioFERME_NEGATIFN" name="radio">
                <label class="custom-control-label" for="radioFERME_NEGATIFN">Fermé négatif</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
        </div>
        </div>
    </div>
</div>