.header {
    font-size: 14px;
}
.header img {
    border-radius: 50px;
}
.statut-carte {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 5px;
}
.statut {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
.ouvert {
    background-color: #9AD0EC;
    border: none;
}
.identification {
    background-color: #EEC373;
    border: none;
}
.proposition {
    background-color: #B983FF;
    border: none;
}
.negociation {
    background-color: #F5C0C0;
    border: none;
}
.ferme-positif {
    background-color: #2EB086;
    border: none;
}
.ferme-negatif {
    background-color: #EB6383;
    border: none;
}
.statut.ouvert {
    background-color: #9AD0EC;
}
.statut.identification {
    background-color: #EEC373;
}
.statut.proposition {
    background-color: #B983FF;
}
.statut.negociation {
    background-color: #F5C0C0;
}
.statut.ferme-positif {
    background-color: #2EB086;
}
.statut.ferme-negatif {
    background-color: #EB6383;
}
.clients-bloc {
    height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.clients-bloc::-webkit-scrollbar {
    display: none;
}
.client-carte {
    background-color: white;
    border-radius: 5px;
    padding: 15px 15px 10px 15px;
    line-height: 0.5;
    font-size: 14px;
    margin-bottom: 10px;
}
.prices-bloc {
    text-align: right;
    // TODO : A RETIRER !!!
    display: none;
}
.price-propal, .price-negociation, .calcul {
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    padding: 8px 10px;
    border-radius: 50px;
}
.price-propal {
    background-color: #B983FF;
}
.price-negociation {
    background-color: #F5C0C0;
}
.calcul {
    background-color: lightgray;
}
h1 {
    margin-bottom: 35px;
}
.name {
    font-weight: bold;
}

// Modal
.modal-content {
    border: none;
}
.modal-body {
    padding-top: 0;
}
.modal-header {
    border-bottom: 0;
}
.modal-title {
    font-weight: 700;
}
.modal-footer {
    border-top: 0;
}
.modal-footer .btn-primary {
    background-color: #2EB086;
    border: none;
}
.modal-footer .btn-secondary {
    background-color: lightgray;
    border: none;
}